@media screen and (max-width: 640px) {
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-sub{
        justify-content:left ;
    }
}

p:hover{
    font-style: bold;
}